/* FOR ALL ELEMENTS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FOR BODY */

body{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 13px;
    min-height: 100vh;  /* covers all the part including the scrolling */
    line-height: 1.5;

    /* font-weight: bold; */

    overflow-x: hidden; /*  stops if the screen is moving horizonatally */
}

/* FOR NAVBAR */


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
    font-size: larger;
   
}

#title{
    text-align: center;
    font-weight: bold; 
}

a{
    color: black;
    text-decoration: none;
}

/* FOR HAMBURGER */

.ham-items {
    display: flex;
    flex-direction: column;
    position: fixed; 

    padding-top: 20px;

    top: 0;
    left: 0;
    width: 60vw;
    height: 100vh;
    background-color: white; 
   
    z-index: 100;
    transform: translateX(-100%); /* Hide menu off-screen */
    transition: transform 0.3s ease; /* Slide-in effect */

    z-index: 1001;
}

.ham-items a {
    color: gray;
    text-decoration: none;
    padding: 0 16px; 
    line-height: 40px;
    display: block; 

    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
    display: none; /* Hidden by default */

    z-index: 1001;
}

.ham-items.active {
    transform: translateX(0);
} 

.overlay.active {
    display: block;
}


@media (min-width : 768px) {

    

    /* HIDING HAMBURGER */
    
    .hamburger{
        visibility: hidden;
    }

    .ham-items{
        display: none;
    }

}